.navbar__item-btn {
	margin: 0;
	padding: 0;
	background-color: inherit;
	border: none;
	font-family: Inter, Arial, Helvetica, sans-serif;
	list-style-type: none;
	color: #ffffff;
	cursor: pointer;
}

.navbar__item-btn:hover {
	opacity: 0.7;
}
