.searchform__btn-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    border: none;
    margin: 0;
    padding: 0;
    width: 44px;
    height: 44px;
    cursor: pointer;
    transition: all 0.2s linear;
}

.searchform__btn-submit:hover {
    opacity: 0.4;
    transition: all 0.2s linear;
}