.portfolio__btn {
    display: flex;
    justify-content: baseline;
    margin: 20px 0 0 0;
    padding: 0;
    width: 29px;
    height: 60px;
    background-color: inherit;
    border: none;
}

@media screen and (max-width: 800px) {
    .portfolio__btn {
       width: 27px;
    }
  }

  @media screen and (max-width: 560px) {
    .portfolio__btn {
        margin: 0;
       width: 18px;
       height: 28px;
    }
  }