.input {
    margin: 10px 0 auto 0;
    padding: 0 0 0 15px;
    width: 381px;
    height: 46px;
    color:#FFFFFF;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 15.7px;
    text-align: left;
    background-color: #2F2F2F;
    border: none;
    border-radius: 8px;
}

.input:focus {
    outline: none;
}

@media screen and (max-width: 450px) {
    .input {
       width: 245px;
    }
  }



