.footer__text {
  margin: 79px auto 0 auto;
  padding: 0;
  max-height: 16px;
  max-width: 1140px;
  border: none;
  color:#8B8B8B;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

@media screen and (max-width: 360px) {
  .footer__text {
     margin: 79px auto 0 auto;
  }
}