.footer__signature-label_item {
    margin: 0;
    padding: 0;
    max-height: 16px;
    color: #FFFFFF; 
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    list-style-type: none;
}

@media screen and (max-width: 400px) {
    .footer__signature-label_item {
      text-align: center;
      font-size: 12px;
      line-height: 14.5px;
    }
  }