.logo__btn {
    padding: 0;
    width: 38px;
    height: 38px; 
    border-radius: 50%;
    border: none;
    background-color: inherit;
    cursor: pointer; 
    transition: opacity 0.2s linear ;
}

.logo__btn:hover {
    opacity: 0.4;
    transition: opacity 0.2s linear ;
}