.form__btn-submit {
    margin: 0;
    padding: 0;
    width: 396px;
    height: 45px;
    background-color: #4285F4;
    color: #FFFFFF;
    border: none;
    border-radius: 3px;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s linear;
}

.form__btn-submit:disabled{
    background-color: #F8F8F8;
    color: #C2C2C2;
}

.form__btn-submit:hover {
    opacity: 0.8;
    transition: all 0.3s linear;
}

.form__btn-submit:hover:disabled {
    opacity: 1;
    cursor: auto;
}

@media screen and (max-width: 450px) {
    .form__btn-submit {
       width: 260px;
       font-size: 12px;
       line-height: 14.5px;
    }
  }