.infopopup__close-btn {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.infopopup__close-btn:hover {
    opacity: 0.7;
}

@media screen and (max-width: 500px) {
    .infopopup__close-btn {
        right: 10px;
        top: 10px;
    }
}