.moviecardlist {
    position: relative;
    margin: 75px auto 0 auto;
    padding: 0;
    max-width: 1280px;
    min-height: 50vh;
    background-color: #202020;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    row-gap: 60px;
    column-gap: 30px;
}

@media screen and (max-width: 1210px) {
    .moviecardlist {
        max-width: 768px;
        grid-template-columns: repeat(2, 339px);
    }
  }


  @media screen and (max-width: 800px) {
    .moviecardlist {
        row-gap: 47px;
        column-gap: 30px;
    }
  }

  @media screen and (max-width: 737px) {
    .moviecardlist {
        margin: 50px auto 0 auto;
        grid-template-columns: repeat(1, 300px);
        row-gap: 35px;
    }
  }




  
  