.navigatepopup {
    position: relative;
    margin: 0 0 0 auto;
    width: 520px;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

@media screen and (max-width: 555px) {
    .navigatepopup {
        width: 100%;
    }
}



