.navigatepopup {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  min-height: 1024px;
}

@media screen and (max-width: 400px) {
    .navigatepopup {
        min-height: 780px;
        max-height: 780px;
        height: 100%;
    }
}







