.searchform__wrapper {
    margin: 80px 0 0 0;
    padding: 0;
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}


  
@media screen and (max-width: 400px) {
  .searchform__wrapper {
    max-height: 44px;
    gap: 7px;
  }
}





  