.aboutme__description {
    margin: 26px 0 99px 0;
    max-height: 88px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

@media screen and (max-width: 800px) {
    .aboutme__description {
        margin: 20px 0 87px 0;
        font-size: 12px;
        line-height: 18px;
        max-height: 108px;
    }
  }

  @media screen and (max-width: 560px) {
    .aboutme__description {
        margin: 20px auto 0 14px;
        font-size: 11px;
        line-height: 16px;
        max-height: 112px;
    }
  }

  @media screen and (max-width: 350px) {
    .aboutme__description {
        margin: 20px 14px 0 14px;
        max-width: 292px;
        font-size: 11px;
        line-height: 16px;
        max-height: 112px;
    }
  }