.moviecard__added-icon {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 14px;
	right: 14px;
	width: 21px;
	height: 21px;
}

@media screen and (max-width: 400px) {
	.moviecard__added-icon {
		top: 10px;
		right: 5px;
	}
}
