.aboutproject__graph {
    margin: 111px 70px 110px 70px;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto;
}


@media screen and (max-width: 800px) {
    .aboutproject__graph {
        grid-template-columns: 1fr 3.8fr;
        margin: 93px 50px 90px 50px;
    }
  }

@media screen and (max-width: 400px) {
    .aboutproject__graph {
        margin: 70px 13px 0 10px;
        grid-template-columns: 2fr 3.8fr;
    }
  }