.line_place_searchform {
    margin: 0 30px 10px 30px;
    border-bottom: 1px solid #424242;
    width: calc(100% - 60px);
}

@media screen and (max-width: 360px) {
    .line_place_searchform {
        margin: 0 14px 10px 14px;
        width: calc(100% - 28px);
    }
}