.line_place_portfolio {
    margin: 19px 70px 0 0;
    border-bottom: 1px solid #424242;
}

@media screen and (max-width: 560px) {
    .line_place_portfolio {
        margin: 19px 14px 0 0;
        border-bottom: 1px solid #E6E6E6;
    }
}