.header {
    margin: 0 auto 2px auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1280px;
    max-height: 74px;
    background-color: #202020; 
}