.form__submit-error {
	margin: 0;
	padding: 0;
	height: 14px;
	background-color: inherit;
	color: #ff004c;
	font-family: Inter, Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 11px;
	line-height: 13.3px;
	text-align: center;
}
