.notfounderr__btn {
    margin: 184px auto 60px auto;
    padding: 0;
    width: 42px;
    height: 17px;
    color:#4285F4;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    background-color: inherit;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .notfounderr__btn {
        margin: 184px auto 222px auto;
    }
  }

  @media screen and (max-width: 400px) {
    .notfounderr__btn {
        margin: 284px auto 30px auto;
        width: 36px;
        height: 15px;
        font-size: 12px;
        line-height: 14.5px;
    }
  }