.footer {
    margin: 0 auto 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    max-height: 172px;
    background-color: #202020; 
}

@media screen and (max-width: 400px) {
    .footer {
        max-height: 253px;
    }
  }