.searchform__checkbox-wrapper {
    margin: 28px auto 39px auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    position: relative;
}


@media screen and (max-width: 770px) {
    .searchform__checkbox-wrapper {
      margin: 40px auto 40px auto;
    }
}