.techs__title {
    margin: 105px 70px 0 70px;
    padding: 0 0 23px 0;
    max-width: 1140px;
    max-height: 27px;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 26.5px;
    color: #FFFFFF;
    letter-spacing: -0.04em;
    border-bottom: 1px solid #DADADA;
}

@media screen and (max-width: 800px) {
    .techs__title {
        margin: 91px 50px 0 50px;
    }
  }

@media screen and (max-width: 500px) {
    .techs__title {
        margin: 70px 18px 0 18px;
        max-width: 284px;
        max-height: 18px;
        font-size: 12px;
        line-height: 22px;
    }
  }

