.techs__title {
    margin: 100px auto 0 70px;
    padding: 0;
    max-width: 600px;
    max-height: 27px;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 26.5px;
    color: #FFFFFF;
}

@media screen and (max-width: 500px) {
    .techs__title {
        margin: 70px auto 0 18px;
        max-width: 284px;
        max-height: 18px;
        font-size: 12px;
        line-height: 22px;
    }
  }

