.icon_place_promo {
    display: flex;
    width: 96px;
    height: 36px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: opacity 0.2s linear ;
}

.icon_place_promo:hover {
    opacity: 0.4;
    transition: opacity 0.2s linear ;
}

@media screen and (max-width: 400px) {
    .icon_place_promo {
        width: 82px;
        height: 26px;
        font-size: 10px;
    }
  }
