.icon_place_promo {
    width: 96px;
    height: 36px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    cursor: pointer;
}

@media screen and (max-width: 400px) {
    .icon_place_promo {
        width: 82px;
        height: 26px;
        font-size: 10px;
    }
  }
