.searchform__checkbox-custom {
	margin: 0 0 4px 0;
	padding: 0 0 0 49px;
	color: #ffffff;
	font-family: Inter, Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
}

@media screen and (max-width: 800px) {
	.searchform__checkbox-custom {
		margin: 13px 0 0 0;
		padding: 0 0 0 46px;
	}
}

@media screen and (max-width: 360px) {
	.searchform__checkbox-custom {
		margin: 7px 0 0 0;
		font-size: 11px;
	}
}
